body{
    background-color: lightskyblue;
}

.input_div{
text-align: center;
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: fantasy;
    color: white;
    text-align: center;
}

#main_content_div{
    padding: 70px ;
}

.card_div{
    height: 150px;
    width: 150px;
    border: 1px solid lightseagreen;
    float: left;
    margin: 20px;
    background-color: lightseagreen;
    color: white;
    border-radius:15px;
    box-shadow: white 5px 5px 5px 5px ;
}

.del_btn{
    color: white;
    border: none;
    background-color: lightseagreen;
}
