body{
    background-color: #ffda77;
}
input{
    background-color: #ffda77;
    border: solid 0.5px white;
    border-radius: 5px;
    height: 35px;
    color: white;
}

.input_div{
text-align: center;
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: fantasy;
    color: white;
    text-align: center;
}

#main_content_div{
    padding: 70px ;
}

.card_div{
    height: 150px;
    width: 150px;
    border: 1px solid #ffc85c;
    float: left;
    margin: 20px;
    background-color: #ffc85c;
    color: white;
    border-radius:15px;
    box-shadow: #fff8c1 5px 5px 5px 5px ;
}

.del_btn{
    color: white;
    border: none;
    background-color: #ffc85c;
}
